/* reset css */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed,  figure, figcaption, footer, header, hgroup,  menu, nav, 
output, ruby, section, summary, time, mark, audio, video {  
   margin: 0;  
   padding: 0;  
   border: 0;  
   font-size: 100%;  
   font: inherit;
   font-family: sans-serif;
   vertical-align: baseline; 
}

/* defaults */

.text-main {
  color: #424242;
}

.app-blue {
  background-color: #3597ff;
}

/* title bar */

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  font-weight: 600;
  color: white;
}

/* Styling for the risk factor component */
  .slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .risk-title {
    margin-top: 10px;
    font-size: 18px;
  }

  .risk-count {
    font-weight: bolder;
  }

  /* Styling the slider */
  input[type=range] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 60vw;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    background: #ACACAC;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #03a9f4;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }

  input[type=range]::-webkit-slider-thumb:hover {
    background: #259bd0;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ACACAC;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    background: #ACACAC;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #ACACAC;
    cursor: pointer;
  }

/* portfolio form */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  margin: 5px 0;
  cursor: pointer;
}

.portfolio-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  overflow: hidden;
  margin: 2px 0;
}

.input-head {
  font-size: 12px;
  color: #ACACAC;
  align-self: flex-end;
  margin-right: 5px;
}

.portfolio-input {
  align-self: flex-end;
  border: 1px solid #757575;
  border-radius: 25px;
  padding: 2px 8px;
  box-sizing: border-box;
}

.portfolio-input:focus {
  outline: none;
  border: 1px solid #03a9f4;
}

.portfolio-sub {
  align-self: flex-end;
  color: white;
  padding: 3px 10px;
  background-color: #03a9f4;
  border-radius: 25px;
  margin-top: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.portfolio-sub:hover {
  background-color: #259bd0;
}

.input-err {
  color: red;
  font-size: 12px;
  align-self: center;
}

/* graph css */
.graph-container {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* investment info */
.color-swatch {
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.investment-item {
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-investment {
  display: flex;
  justify-content: flex-start;
}

.investment-list {
  width: 200px;
  margin: 0 auto;
}

/* move investment pane */
.move-pane {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investment-move {
  list-style: none;
  margin: 0 0 0 10px;
}

.move-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  align-self: flex-start;
}

.move-item {
  display: flex;
  justify-content: flex-start;
  margin: 2px 0;
}

@media screen and (min-width: 800px) {
  .graph-container {
    position: absolute;
    right: 5vw;
    top: 10vh;
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: 500px;
  }
  .portfolio-container {
    position: absolute;
    width: 205px;
    top: 135px;
    margin-left: 5vw;
  }
  .slide-container {
    position: absolute;
    max-width: 350px;
    margin-left: 5vw;
  }
  input[type=range] {
    max-width: 350px;
  }
  .investment-list {
    position: absolute;
    top: 325px;
    margin: 0;
    margin-left: 5vw;
    float: left;
  }
  .move-pane {
    position: absolute;
    top: 445px;
    margin: 0;
    margin-left: 5vw;
  }
}

@media screen and (min-width: 1200px){
  .graph-container {
    width: 850px;
    height: 850px;
    max-width: 850px;
    max-height: 850px;
    position: absolute;
    top: 0;
  }
  .portfolio-container {
    top: 175px;
  }
  .investment-list {
    top: 395px;
  }
  .move-pane {
    top: 550px;
  }
}